/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Oswald;
}

:root {
  --clr-primary-200: #F3EED9;
  --clr-primary-400: #ADEFD1FF;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #0e60ec;
}


.navbar-all-pages {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary-400);
  color: white;
}

.brand-name-all-pages {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links-all-pages {
  height: 100%;
}

.navbar-links-all-pages ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links-all-pages li {
  list-style: none;
}

.navbar-links-all-pages li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links-all-pages li:hover {
  background-color: var(--clr-neutral-900);
}

.toggle-button-all-pages {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button-all-pages .bar-all-pages {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* to make nav links more responsive */
@media (max-width: 800px) {
  .navbar-all-pages {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button-all-pages {
      display: flex;
  }

  .navbar-links-all-pages {
      display: none;
      width: 100%;
  }

  .navbar-links-all-pages ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links-all-pages ul li {
      text-align: center;
  }

  .navbar-links-all-pages ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links-all-pages.active {
      display: flex;
  }
}

body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#F65058FF;
  }

  .container{
    width: 440px;
    border-radius: 7px;
    background:#FBDE44FF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  }
  .container h2{
    font-size: 25px;
    font-weight: 500;
    padding: 16px 25px;
    border-bottom: 1px solid#ADEFD1FF;
  }

  .container .info{
    margin: 25px 20px 35px;
  }

  .info .keywords{
    user-select: none;
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 24px;
    margin-right: -24px;
    word-break: break-all;
    text-transform: uppercase;
  }
  .keywords-science p{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .keywords-science p b{
    font-weight: 500;
  }

  .info input{
    width: 100%;
    height: 60px;
    outline: none;
    padding: 0 16px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
  }
  .info input:focus{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.08);
  }
  .info input::placeholder{
    color: #aaa;
  }
  
  .info  input:focus::placeholder{
    color: #bfbfbf;
  }
  .info  .buttons{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }

  .buttons button{
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    width: calc(100% / 2 - 8px);
    transition: all 0.3s ease;
  }

  .buttons button:active{
    transform: scale(0.97);
  }
  .buttons .new-keyword{
    background:white;
  }
  .buttons .new-keyword:hover{
    background: #26e808;
  }

  .buttons .correct-science-word{
    background:white;
  }
  .buttons .correct-science-word:hover{
    background: #2c52ed;
  }

  
@media screen and (max-width: 470px) {
  .container h2{
    font-size: 22px;
    padding: 13px 20px;
  }
  .info .keywords{
    font-size: 30px;
    letter-spacing: 20px;
    margin-right: -20px;
  }
  .container .info{
    margin: 20px 20px 30px;
  }
  .keywords-science p{
    font-size: 16px;
    margin-bottom: 8px;
  }
  .info input{
    height: 55px;
    font-size: 17px;
  }
  .buttons button{
    padding: 14px 0;
    font-size: 16px;
    width: calc(100% / 2 - 7px);
  }
}