/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Oswald;
}

::selection{
    color: #fff;
    background: #007bff;
}

body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#F65058FF;
  }

  .begin_btn,
.instructions,
.questions,
.final_score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instructions.activeInfo,
.questions.activeQuiz,
.final_score.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.begin_btn button{
  font-size: 25px;
  font-weight: 500;
  color: #F65058FF;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background:#FBDE44FF;
  cursor: pointer;
}

.instructions{
  width: 540px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.instructions .rules{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
}

.instructions .rules_game{
  padding: 15px 30px;
}