/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Oswald;
}

::selection{
    color: #fff;
    background: #007bff;
}

body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#F65058FF;
  }

  .begin_btn,
.instructions,
.questions,
.final_score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instructions.activeInfo,
.questions.activeQuiz,
.final_score.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.begin_btn button{
  font-size: 25px;
  font-weight: 500;
  color: #F65058FF;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background:#FBDE44FF;
  cursor: pointer;
}

.instructions{
  width: 540px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.instructions .rules{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
}

.instructions .rules_game{
  padding: 15px 30px;
}

.instructions .rules_game .keyfacts{
  margin: 5px 0;
  font-size: 17px;
}
.instructions .rules_game .keyfacts span{
  font-weight: 600;
  color: #007bff;
}

.instructions .buttons{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px solid lightgrey;
}
.instructions .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}

.questions{
  width: 550px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.questions header{
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.questions header .main{
  font-size: 20px;
  font-weight: 600;
}
.questions header .time{
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}

.questions header .time .how-long{
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.questions header .time .how-long-time{
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}

.questions header .straight-line{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #007bff;
}

section{
  padding: 25px 30px 20px 30px;
  background: #fff;
}
section .questions-asked{
  font-size: 25px;
  font-weight: 600;
}
section .potential-answers{
  padding: 20px 0px;
  display: block;   
}

section .potential-answers .option{
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .potential-answers .option:last-child{
  margin-bottom: 0px;
}
section .potential-answers .option:hover{
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}
section .potential-answers .option.correct{
  color: #00d431;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

section .potential-answers .option.incorrect{
  color: #6d0e04;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
section .potential-answers .option.disabled{
  pointer-events: none;
}
section .potential-answers .option .logo{
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}

.potential-answers .option .logo.tick{
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}
.potential-answers .option .logo.cross{
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}


footer{
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}
footer .all-questions-asked span{
  display: flex;
  user-select: none;
}
footer .all-questions-asked span p{
  font-weight: 500;
  padding: 0 5px;
}
footer .all-questions-asked span p:first-child{
  padding-left: 0px;
}

footer button{
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: #007bff;
  border: 1px solid #007bff;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

footer button:hover{
  background: #0263ca;
}
footer button.show{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.result_box{
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.final_score .logo{
  font-size: 100px;
  color: #007bff;
  margin-bottom: 10px;
}
.final_score.finished_text{
  font-size: 20px;
  font-weight: 500;
}
.final_score .total_results span{
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.final_score  .total_results span p{
  padding: 0 4px;
  font-weight: 600;
}
.final_score .buttons{
  display: flex;
  margin: 20px 0;
}
.final_score .buttons button{
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}
.buttons button.restart{
  color: #fff;
  background: #007bff;
}
.buttons button.restart:hover{
  background: #0263ca;
}
.buttons button.quit{
  color: #007bff;
  background: #fff;
}
.buttons button.quit:hover{
  color: #fff;
  background: #007bff;
}
