/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Oswald;
}

body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #53d3f0;
  }

  .container{
    width: 440px;
    border-radius: 7px;
    background: #0e60ec;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  }
  .container h2{
    font-size: 25px;
    font-weight: 500;
    padding: 16px 25px;
    border-bottom: 1px solid #ccc;
  }